*{
    margin: 0;
    padding: 0;
  }
  #Name{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #04364A;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }


  /* // <uniquifier>: Use a uniquifier for the class name */


.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 100px !important;
  }

  .intro-back{
    background-color: #176B87;
  }

  

  .linkedin{
    color: #365486;
  }

  h1{
    color: #DAFFFB !important;

  }
  .lightGreen{
    color: #DAFFFB !important;
  }
  .littleDarkGreen{
    color: #64CCC5;
  }
  .darkGreen{
    color: #176B87;
  }
  .DarkestGreen{
    color: #04364A;
  }
  .bg-lightGreen{
    color: #DAFFFB !important;
  }
  .bg-littleDarkGreen{
    color: #64CCC5 !important;
  }
  .bg-darkGreen{
    color: #176B87 !important;
  }
  .bg-DarkestGreen{
    background-color: #04364A !important;
  }

  .atag{
    color: #64CCC5; /* Set the color to inherit from the parent element */
    text-decoration: none; /* Remove underline */
  }

  #footer{
    background-color: #64CCC5;
  }

  .custom-btn {
    background-color: #176B87 !important; /* Set your custom color */
    color: #fff; /* Set text color to ensure readability, replace with your preference */
    border: none; /* Remove default button border */
    /* padding: 10px 20px; /* Set padding as needed */
    /* border-radius: 5px; Optional: Add border-radius for rounded corners  */
  }

  .custom-btn:hover {
    background-color: #04364A !important; /* Change color on hover, replace with your hover color */
    /* Additional styles on hover, if needed */
  }

  .progress-bar{
    background-color: #64CCC5 !important;
  }


  

  
  